body {
  font-family: "Roboto", sans-serif;
}

/*Général*/

.texteGras {
  font-weight: bold;
  font-size: 18px;
}
.flexCentre {
  display: flex;
  margin: auto;
  justify-content: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColumnCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*header*/
.marglogo {
  padding-bottom: 15px;
}
.sizeBordureSearch {
  text-align: center;
}
.bordureSearch {
  height: 50px;
  background-color: #dcdcdc;
  border-top: 5px solid #c0c0c0;
  padding-top: 20px;
}
.recherche {
  flex: flex;
  border: 0;
  height: 30px;
  margin: auto;
  background-color: #dcdcdc;
}
.sizeheader {
  padding-top: 30px;
  width: auto;
  height: 375px;
  background-color: #f2f2f2;
}
.titre1 {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 34px;
}

.phrase1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  color: gray;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.sizebuttonExplorer {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 300px;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(#9356dc, #ff79da);
}
/* Section fonctionement */

.margfonctionnement {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 15px;
}
.filtre {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 15px;
  flex-wrap: wrap;
}
/*icone*/
.fas {
  padding-left: 50px;
  color: gray;
}
.cercleNumbre {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
}

.filtreTextIcons {
  height: 60px;
  width: 300px;
  background-color: #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 20px 0 #dcdcdc;
}
.positionCercle {
  position: relative;
  left: 50%;
}
.positionBordure {
  margin-right: 10%;
}
/*Restaurants*/
.BlocRestaurants {
  width: auto;
  height: 600px;
  background-color: #f2f2f2;
}
.cubeRestaurant {
  width: 35%;
  height: 300px;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 8px 8px #dcdcdc;
  margin: 15px;
}
.imageRestaurant1 {
  background-image: url("img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 220px;
  border-radius: 25px 25px 0 0;
}
.cubeDetails {
  display: flex;
  justify-content: start;
  width: 90%;
}
.iconeCoeur {
  color: white;
  border: gray;
}
/*media querey*/

@media screen and (max-width: 1131px) {
  .FiltreWrap {
    justify-content: center;
  }
}

@media screen and (max-width: 757px) {
  .flexBetween {
    justify-content: none;
  }
  .FiltreWrap {
    justify-content: center;
  }
}
