@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
header {
  font-family: "Shrikhand", cursive;
  font-size: large;
  text-align: center;
  margin: 0;
}
.logo {
  box-shadow: 0px 5px 5px #c0c0c0;
  margin: 0;
  padding: 20px;
  text-align: center;
  position: relative;
}
html {
  overflow: auto;
}
body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #fff;
  opacity: 0.7;
  height: 100vh;
  inset: 0;
  z-index: 2;
  transform-origin: top;
  animation: disappear 100ms 1s forwards;
  color: #9356dc;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/*Général*/
.position__relative {
  display: flex;
<<<<<<< HEAD
  justify-content: center;
=======
  position: relative;
  top: 10px;
  gap: 150px;
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
  align-items: center;
}
.color__gray {
  color: gray;
}

.texteGras {
  font-weight: bold;
  font-size: 18px;
}
.flexCentre {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
}
.flexColumnCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sizeBordureSearch {
  text-align: center;
}
.bordureSearch {
  height: 50px;
  background-color: #dcdcdc;
  padding-top: 20px;
}
<<<<<<< HEAD
input:focus {
  border: 2px solid #9356dc;
}
input {
  outline: none;
=======
.input:focus {
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}

.recherche {
  flex: flex;
  border: 0;
  height: 30px;
  margin: auto;
  background-color: #dcdcdc;
  text-align: center;
}
.sizeNav {
  padding-top: 30px;
  width: auto;
  height: 400px;
  background-color: #f2f2f2;
}
.Font-size__H2 {
  font-size: 2rem;
<<<<<<< HEAD
=======
}
.titre1 {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 45px;
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}

.phrase1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  color: gray;
  font-size: 1rem;
  padding-bottom: 20px;
}
.btn__Explorer {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 300px;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(#9356dc, #ff79da);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.btn__Explorer:hover {
  transform: scale(1.15);
<<<<<<< HEAD
  box-shadow: 2px 2px 20px 2px gray;
  background: linear-gradient(180deg, #ff79da, #9356dc);
}
.btn__padding--bottom {
  padding-bottom: 50px;
=======
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}
/* Section fonctionement */

.margfonctionnement {
  margin-top: 50px;
  margin-bottom: 40px;
}
.filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 15px;
  flex-wrap: wrap;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.filtre:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.Filtre__Center {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*icone*/
.flesh-left {
  color: black;
}
.flesh-left:hover {
  transform: scale(1.5);
  color: #9356dc;
}

.localtIcone {
  color: rgb(37, 35, 35);
}
.FOnctIcone {
  padding-left: 5px;
  color: gray;
  padding-left: 35px;
}
.FOnctIcone:hover {
  color: #9356dc;
}
.Icone:hover {
  background: linear-gradient(#9356dc, #ff79da);
  transform: scale(1.02);
}

.cercleNumbre {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 15px;
}

.filtreTextIcons {
  height: 60px;
<<<<<<< HEAD
  width: 285px;
=======
  width: 350px;
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
  background-color: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 4px 6px 17px #dcdcdc;
  align-items: center;
}
.filtreTextIcons:hover {
  background-color: #f4ebf5;
}
.positionCercle {
  position: relative;
  left: 50%;
}
.positionBordure {
  margin-right: 10%;
}
/*Restaurants*/
<<<<<<< HEAD
.paddin__left--h2 {
  padding-left: 15px;
}
=======
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
.padding__h2 {
  padding-top: 25px;
  padding-left: 15px;
}
.menus {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.menus__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.menus__card--bloc {
  flex-wrap: wrap;
  width: 450px;
  padding-bottom: 50px;
}

.menus__card--imageBloc {
  width: 100%;
  height: 300;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  margin: 25px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.menus__card--imageBloc:hover {
  transform: scale(1.02);
<<<<<<< HEAD
  box-shadow: 5px 5px 30px 0 gray;
=======
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}
.menus__card--cizeImage {
  width: 100%;
  height: 250px;
  border-radius: 25px 25px 0 0;
<<<<<<< HEAD
  object-fit: cover;
=======
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}
.bordureNouveau {
  height: 30px;
  width: 100px;
  color: green;
  background-color: #99e2d0;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 230px;
  left: 325px;
}
.menus_card--detail {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 10px;
  gap: 150px;
}
.menus__card--p {
  display: flex;
  flex-direction: column;
}
.menus__card--marge-P-Zero {
  margin: 0;
}
<<<<<<< HEAD
/*----------footer---------*/
=======

>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
.footer {
  height: 250px;
  width: auto;
  color: white;
  background-color: rgba(35, 32, 32, 0.89);
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: center;
=======
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 61px;
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}

.titrefooter {
  font-family: Shrikhand;
  padding-top: 30px;
  padding-left: 25px;
  margin: 0;
}
.listfooter {
  margin-left: 25px;
}
.margiconetextFooter {
  margin-right: 15px;
}

.contact {
  color: white;
  text-decoration: none;
}

<<<<<<< HEAD
.menus {
  padding-bottom: 50px;
}
.menus__card--imageBloc {
  margin-left: 0;
  margin-bottom: 0;
}
.menus__card--bloc {
  width: 360px;
  padding-bottom: 50px;
}
.bordureNouveau {
  position: relative;
  bottom: 230px;
  left: 244px;
}
.menus__card--bloc {
  padding-bottom: 0;
=======
/*media querey*/

@media screen and (max-width: 1260px) {
  .Filtre__Center {
    justify-content: center;
  }
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}
@media screen and (max-widht: 925px) {
  .menus__card--imageBloc {
    margin-bottom: 0;
  }
  .menus__card--bloc {
    padding-bottom: 0;
  }
}

<<<<<<< HEAD
.footer {
  text-align: start;
=======
@media screen and (max-width: 723px) {
  .flexBetween {
    justify-content: none;
  }
  .FiltreWrap {
    justify-content: center;
  }
  .titre1 {
    font-size: 30px;
  }
  .phrase1 {
    font-size: 20px;
  }
  .filtreTextIcons {
    width: 285px;
  }
  .menus__card--imageBloc {
    margin-left: 0;
    margin-bottom: 0;
  }
  .menus__card--bloc {
    width: 360px;
    padding-bottom: 50px;
  }
  .bordureNouveau {
    position: relative;
    bottom: 230px;
    left: 244px;
  }
  .menus__card--bloc {
    padding-bottom: 0;
  }

  .footer {
    text-align: start;
  }
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}

/* Pages restaurants*/

.image__header--size {
<<<<<<< HEAD
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.icon-heart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-heart .fas {
  position: absolute;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-image: linear-gradient(#9356dc, #ff79da);
  line-height: 2em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-heart .far {
  transition: opacity 200ms ease-in-out;
  line-height: 2em;
}

.icon-heart:hover .fas {
  opacity: 1;
  cursor: pointer;
}

.icon-heart:hover .far {
  opacity: 0;
=======
  width: 375px;
  height: auto;
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}
.Icone__header {
  display: flex;
  position: relative;
  right: 20px;
  top: 16px;
  color: rgb(77, 75, 75);
}
<<<<<<< HEAD
.IconeRetourAccueille {
=======
.IconeP2 {
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
  padding-right: 80px;
  color: black;
  text-decoration: none;
}
.TitreP2 {
  padding-right: 80px;
}
.titre__h1 {
  font-family: Shrikhand, cursive;
  padding-left: 10px;
  font-size: 23px;
  padding-top: 30px;
<<<<<<< HEAD
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icone-heart_position {
  flex: 1;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 40px;
}
.background__Layout {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: -2rem;
  z-index: 1;
  position: relative;
  border-radius: 25px 25px 0 0;
}

.bloc-menus {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding-bottom: 4rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.title-menus {
  border-bottom: solid #99e2d0;
  width: 40px;
  font-weight: 300;
  text-transform: uppercase;
}
.container-menus {
  width: 100%;
}
.detail-menus {
  display: flex;
  max-width: 100%;
  height: 85px;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  margin: 15px 0;
  cursor: pointer;
  overflow: hidden;
}
.detail-menus:hover .checkbox-container {
  margin-right: 0;
}
.subtitle-menus {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sub-subTitle {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
  padding-top: 10px;
}
.item-menus {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.menus-price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1.5rem;
  flex: 1;
  padding-bottom: 18px;
}
.checkbox-container {
  width: 75px;
  height: 85px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 25px 25px 0;
  margin-right: -75px;
}

input {
  cursor: pointer;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
input[type="checkbox"] {
  border: solid 13px;
  border-radius: 50%;
  color: white;
}
input[type="checkbox"]:checked {
  background-color: #99e2d0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="checkbox"]:before {
  font-family: FontAwesome;
  content: "\f00c";
  display: block;
  color: #99e2d0;
  font-size: 20px;
  position: absolute;
}

=======
}

.blocMenu {
  height: auto;
  width: auto;
  background-color: #f2f2f2;
  position: relative;
  bottom: 60px;
  border-radius: 60px 60px 0 0;
  padding-bottom: 50px;
}
.blocMenu1 {
  height: auto;
  width: auto;
  background-color: #f2f2f2;
  position: relative;
  bottom: 60px;
  border-radius: 60px 60px 0 0;
}
.Menus {
  display: flex;
  width: 400px;
  height: 85px;
  border: transparent;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  align-items: center;
  gap: 100px;
  padding-left: 20px;
}
.texteTItre {
  justify-content: start;
}
.prix__position {
  display: flex;
  position: relative;
  right: 45px;
  top: 23px;
  font-weight: bold;
}
.prix__padding-20£ {
  padding-left: 20px;
}
.Menus__titre--P {
  color: gray;
  padding-left: 10px;
}
.Menus__border--bottom {
  border-bottom: #99e2d0 solid 5px;
  margin-right: 322px;
  padding-bottom: 5px;
}

.padding-left {
  padding-left: 30px;
  margin-right: 856px;
}
.Menus__restaurants {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;

  padding-bottom: 50px;
}
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
.bouton__commander {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(#9356dc, #ff79da);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.bouton__commander:hover {
  transform: scale(1.15);
<<<<<<< HEAD
  box-shadow: 2px 2px 25px 2px gray;
  background: linear-gradient(180deg, #ff79da, #9356dc);
}
/*-------------------------media querey-----------------------*/
/*media querey*/

@media screen and (max-width: 1200px) {
  .bloc-menus {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1260px) {
  .Filtre__Center {
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .menus__card {
    display: grid;
    gap: normal;
  }
}

@media screen and (max-widht: 925px) {
  .menus__card--imageBloc {
    margin-bottom: 0;
  }
  .menus__card--bloc {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 725px) {
  .flexBetween {
    justify-content: none;
  }
=======
>>>>>>> b34b803fe03f52ba59036c6c1df83323adb52dda
}
